html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(99, 99, 99, 0.15);
  touch-action: none;
  position: relative; 
}

.landing-text {
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  text-align: center;
  color: white;

  position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.landing-text-buttons p {
  display: inline-block;
  border-style: solid;
  border-width: medium;
  border-color: white;
  width: 45%;
  max-width: 220px;
}
