* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px dashed White;
}

html {
  background: url("landing_pictures/1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#preloader {
  position: absolute;
  overflow: hidden;
  top: -9999px;
  left: -9999px;
  height: 1px;
  width: 1px;
}

.body {
  position: relative;
}

.title {
  width: 500px;
  height: 100px;
  padding: 30px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -120px 0 0 -270px;

  font-family: 'Montserrat', sans-serif;
  color: White;
  text-transform: uppercase;
  text-align: center;
}

.title h3 {
  font-weight: 200;
}

.title h2 {

  width: 30%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid White;
}

.title a {
  padding: 30px 75px;
  margin: -30px -75px;
  text-decoration: none;
  color: White;
}
